body {
	padding: 50px;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #fff;
}

div {
	width: 1024px;
	display: block;
}

header {
	float: left;
	position: fixed;
	width: 270px;
}

section {
	float: right;
	width: 700px;
}

img {
	width: 100%;
}